Repository awesome-reveal/react-awesome-reveal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(website): updated astro
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(website): added custom fonts
  packages/website/public/fonts/Hubot-Sans.woff2
  packages/website/public/fonts/Mona-Sans.woff2
  packages/website/src/components/BaseHead.astro
  packages/website/src/components/DocSidenav.astro
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/styles/index.css
  packages/website/tailwind.config.cjs
Due: none

style(website): increasd font weight of bottom navlinks
  packages/website/src/components/DocBottomNavlinks.astro
Due: none

Reduce motion for users who need it.
  packages/lib/src/utils/animations.ts
Due: eslint --fix

chore: updated deps
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: updated deps (#159)
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: added some fp-style goodies
  packages/lib/src/Reveal.tsx
  packages/lib/src/components/AttentionSeeker.tsx
  packages/lib/src/components/Bounce.tsx
  packages/lib/src/components/Fade.tsx
  packages/lib/src/components/Flip.tsx
  packages/lib/src/components/Hinge.tsx
  packages/lib/src/components/JackInTheBox.tsx
  packages/lib/src/components/Roll.tsx
  packages/lib/src/components/Rotate.tsx
  packages/lib/src/components/Slide.tsx
  packages/lib/src/components/Zoom.tsx
  packages/lib/src/utils/guards.ts
  packages/lib/src/utils/patterns.ts
Due: eslint --fix

feat: added some fp-style goodies (#160)
  packages/lib/src/Reveal.tsx
  packages/lib/src/components/AttentionSeeker.tsx
  packages/lib/src/components/Bounce.tsx
  packages/lib/src/components/Fade.tsx
  packages/lib/src/components/Flip.tsx
  packages/lib/src/components/Hinge.tsx
  packages/lib/src/components/JackInTheBox.tsx
  packages/lib/src/components/Roll.tsx
  packages/lib/src/components/Rotate.tsx
  packages/lib/src/components/Slide.tsx
  packages/lib/src/components/Zoom.tsx
  packages/lib/src/utils/guards.ts
  packages/lib/src/utils/patterns.ts
Due: eslint --fix

chore: added changesets to handle releases
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: added changesets to handle releases (#161)
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: changed changesets base branch
  .changeset/config.json
Due: prettier --write

fix: changed changesets base branch (#162)
  .changeset/config.json
Due: prettier --write

feat: disable animations if user disables them system-wide
  packages/lib/src/utils/animations.ts
Due: eslint --fix

feat: disable animations if user disables them system-wide (#163)
  packages/lib/src/utils/animations.ts
Due: eslint --fix

chore: exclude playground and website packages from changesets
  .changeset/config.json
Due: prettier --write

chore: preparing next release
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: prettier --write

chore: updated refs to main branch in README
  README.md
  packages/lib/README.md
Due: prettier --write

fix: prevent flashing on first render
  packages/lib/src/Reveal.tsx
Due: eslint --fix

chore: prepare next release
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: prettier --write

chore: added build on prepublish
  packages/lib/package.json
Due: prettier --write

chore: prepare next version
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: prettier --write

perf: removed hidden styles
  packages/lib/src/Reveal.tsx
Due: eslint --fix

chore: added public publish config to lib package
  packages/lib/package.json
Due: prettier --write

chore: release notes
  .changeset/loud-sloths-hammer.md
Due: prettier --write

chore: prepare next release
  .changeset/loud-sloths-hammer.md
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: prettier --write

chore(website): updated astro and adjusted config files
  .gitignore
  .prettierignore
  package.json
  packages/website/.eslintrc.json
  packages/website/.gitignore
  packages/website/astro.config.ts
  packages/website/package.json
  packages/website/plugins/rehypeAutolinkHeadings.ts
  packages/website/src/content/config.ts
  packages/website/src/content/types.generated.d.ts
  packages/website/src/env.d.ts
  packages/website/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(website): update astro to version 2.0 (#164)
  .gitignore
  .prettierignore
  package.json
  packages/website/.eslintrc.json
  packages/website/.gitignore
  packages/website/astro.config.ts
  packages/website/package.json
  packages/website/plugins/rehypeAutolinkHeadings.ts
  packages/website/src/content/config.ts
  packages/website/src/content/types.generated.d.ts
  packages/website/src/env.d.ts
  packages/website/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: cleanup website code
  packages/website/astro.config.ts
  packages/website/package.json
  packages/website/plugins/rehypeExternalLinks.ts
  packages/website/src/services/github.ts
  packages/website/src/types/github.ts
  packages/website/src/types/remark-a11y-emoji.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: cleanup website code (#166)
  packages/website/astro.config.ts
  packages/website/package.json
  packages/website/plugins/rehypeExternalLinks.ts
  packages/website/src/services/github.ts
  packages/website/src/types/github.ts
  packages/website/src/types/remark-a11y-emoji.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: updated README
  README.md
  packages/lib/README.md
Due: prettier --write

chore: added README to root
  README.md
Due: prettier --write

chore: updated deps
  package.json
  packages/lib/src/Reveal.tsx
  packages/lib/src/components/AttentionSeeker.tsx
  packages/lib/src/components/Bounce.tsx
  packages/lib/src/components/Fade.tsx
  packages/lib/src/components/Flip.tsx
  packages/lib/src/components/Hinge.tsx
  packages/lib/src/components/JackInTheBox.tsx
  packages/lib/src/components/Roll.tsx
  packages/lib/src/components/Rotate.tsx
  packages/lib/src/components/Slide.tsx
  packages/lib/src/components/Zoom.tsx
  packages/playground/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(website): improved typings
  packages/website/src/content/config.ts
  packages/website/src/pages/docs/[...slug].astro
  packages/website/src/types/astro.d.ts
  packages/website/src/types/remark-a11y-emoji.d.ts
Due: eslint --fix

feat(website): replaced stargazers widget
  packages/website/src/components/Navbar.astro
  packages/website/src/components/StargazersCount.astro
  packages/website/src/services/github.ts
  packages/website/src/utils/stargazers.ts
Due: eslint --fix

feat(website): replaced stargazers widget (#169)
  packages/website/src/components/Navbar.astro
  packages/website/src/components/StargazersCount.astro
  packages/website/src/services/github.ts
  packages/website/src/utils/stargazers.ts
Due: eslint --fix

chore: updated deps
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  packages/website/src/components/DocSidenav.astro
  packages/website/src/pages/docs/[...slug].astro
  packages/website/src/types/astro.d.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

fix: add opacity 0 (#168)
  .changeset/fair-geckos-build.md
  packages/lib/src/Reveal.tsx
Due: eslint --fix, prettier --write

fix: add opacity 0 (#168) (#175)
  .changeset/fair-geckos-build.md
  packages/lib/src/Reveal.tsx
Due: eslint --fix, prettier --write

chore: prepare next release
  .changeset/fair-geckos-build.md
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,mdx,html}
