Repository awesome-reveal/react-awesome-reveal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

added sponsor link
  packages/website/src/components/Navbar.astro
  packages/website/src/layouts/ExamplesLayout.astro
  packages/website/src/pages/examples/basic.md
  packages/website/src/pages/index.astro
Due: prettier --write

added sponsor button to navbar
  packages/website/src/components/Navbar.astro
Due: none

updated revealing effects doc
  packages/website/src/pages/docs/revealing-effects.md
Due: prettier --write

replaced sponsor button with link in navbar
  packages/website/src/components/Navbar.astro
Due: none

added label on github link
  packages/website/src/components/Navbar.astro
Due: none

fixed ts error in baselayout
  packages/website/src/layouts/BaseLayout.astro
Due: none

improved docs
  packages/website/src/layouts/DocLayout.astro
  packages/website/src/pages/docs/custom-animations.md
  packages/website/src/pages/docs/performances.md
  packages/website/src/pages/docs/revealing-effects.md
Due: prettier --write

minor refactor to custom animations doc
  packages/website/src/pages/docs/custom-animations.md
Due: prettier --write

added custom favicons
  packages/website/public/favicon.svg
  packages/website/public/icons/android-chrome-192x192.png
  packages/website/public/icons/android-chrome-512x512.png
  packages/website/public/icons/apple-touch-icon-114x114.png
  packages/website/public/icons/apple-touch-icon-120x120.png
  packages/website/public/icons/apple-touch-icon-144x144.png
  packages/website/public/icons/apple-touch-icon-152x152.png
  packages/website/public/icons/apple-touch-icon-167x167.png
  packages/website/public/icons/apple-touch-icon-180x180.png
  packages/website/public/icons/apple-touch-icon-57x57.png
  packages/website/public/icons/apple-touch-icon-60x60.png
  packages/website/public/icons/apple-touch-icon-72x72.png
  packages/website/public/icons/apple-touch-icon-76x76.png
  packages/website/public/icons/favicon-128x128.png
  packages/website/public/icons/favicon-16x16.png
  packages/website/public/icons/favicon-196x196.png
  packages/website/public/icons/favicon-32x32.png
  packages/website/public/icons/favicon-96x96.png
  packages/website/public/icons/mstile-144x144.png
  packages/website/public/icons/mstile-150x150.png
  packages/website/public/icons/mstile-310x150.png
  packages/website/public/icons/mstile-310x310.png
  packages/website/public/icons/mstile-70x70.png
  packages/website/src/components/BaseHead.astro
Due: none

updated guides
  packages/website/src/pages/docs/attention-seekers.md
  packages/website/src/pages/docs/custom-animations.md
  packages/website/src/pages/docs/performances.md
  packages/website/src/pages/docs/revealing-effects.md
  packages/website/src/pages/docs/typescript-support.md
Due: prettier --write

removed png icons
  packages/website/public/favicon.svg
  packages/website/public/icons/android-chrome-192x192.png
  packages/website/public/icons/android-chrome-512x512.png
  packages/website/public/icons/apple-touch-icon-114x114.png
  packages/website/public/icons/apple-touch-icon-120x120.png
  packages/website/public/icons/apple-touch-icon-144x144.png
  packages/website/public/icons/apple-touch-icon-152x152.png
  packages/website/public/icons/apple-touch-icon-167x167.png
  packages/website/public/icons/apple-touch-icon-180x180.png
  packages/website/public/icons/apple-touch-icon-57x57.png
  packages/website/public/icons/apple-touch-icon-60x60.png
  packages/website/public/icons/apple-touch-icon-72x72.png
  packages/website/public/icons/apple-touch-icon-76x76.png
  packages/website/public/icons/favicon-128x128.png
  packages/website/public/icons/favicon-16x16.png
  packages/website/public/icons/favicon-196x196.png
  packages/website/public/icons/favicon-32x32.png
  packages/website/public/icons/favicon-96x96.png
  packages/website/public/icons/mstile-144x144.png
  packages/website/public/icons/mstile-150x150.png
  packages/website/public/icons/mstile-310x150.png
  packages/website/public/icons/mstile-310x310.png
  packages/website/public/icons/mstile-70x70.png
  packages/website/src/components/BaseHead.astro
Due: none

added doc for older browsers
  packages/lib/README.md
  packages/website/src/pages/docs/custom-animations.md
  packages/website/src/pages/docs/older-browsers.md
Due: prettier --write

removed overrides from eslintrc
  packages/website/.eslintrc
Due: none

added new line at the end of robots.txt
  packages/website/public/robots.txt
Due: none

New website
  packages/lib/README.md
  packages/website/.eslintrc
  packages/website/astro.config.mjs
  packages/website/astro.config.ts
  packages/website/package.json
  packages/website/plugins/rehypeAutolinkHeadings.ts
  packages/website/plugins/rehypeExternalLinks.ts
  packages/website/public/favicon.svg
  packages/website/public/og-image.png
  packages/website/public/robots.txt
  packages/website/src/components/BaseHead.astro
  packages/website/src/components/BlurredBackground.astro
  packages/website/src/components/Container.astro
  packages/website/src/components/DocBottomNavlinks.astro
  packages/website/src/components/DocSidenav.astro
  packages/website/src/components/Feature.astro
  packages/website/src/components/Features.astro
  packages/website/src/components/Navbar.astro
  packages/website/src/components/StargazersCount.astro
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/layouts/DocLayout.astro
  packages/website/src/layouts/Layout.astro
  packages/website/src/pages/docs/attention-seekers.md
  packages/website/src/pages/docs/custom-animations.md
  packages/website/src/pages/docs/getting-started.md
  packages/website/src/pages/docs/older-browsers.md
  packages/website/src/pages/docs/performances.md
  packages/website/src/pages/docs/revealing-effects.md
  packages/website/src/pages/docs/typescript-support.md
  packages/website/src/pages/index.astro
  packages/website/src/services/github.ts
  packages/website/src/types/github.ts
  packages/website/src/utils/seo.ts
  packages/website/src/utils/stargazers.ts
  packages/website/tailwind.config.cjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

added codesandbox template link
  packages/website/src/components/Navbar.astro
  packages/website/src/pages/index.astro
Due: none

added codesandbox template link (#138)
  packages/website/src/components/Navbar.astro
  packages/website/src/pages/index.astro
Due: none

feat(website): added vercel.json to handle 404s
  packages/website/vercel.json
Due: prettier --write

feat(website): added vercel.json to handle 404s (#139)
  packages/website/vercel.json
Due: prettier --write

refactor: code refactor to improve robustness
  .eslintignore
  .eslintrc
  .gitignore
  .vscode/settings.json
  packages/lib/package.json
  packages/lib/src/Reveal.tsx
  packages/lib/src/components/AttentionSeeker.tsx
  packages/lib/src/components/Bounce.tsx
  packages/lib/src/components/Fade.tsx
  packages/lib/src/components/Flip.tsx
  packages/lib/src/components/Hinge.tsx
  packages/lib/src/components/JackInTheBox.tsx
  packages/lib/src/components/Roll.tsx
  packages/lib/src/components/Rotate.tsx
  packages/lib/src/components/Slide.tsx
  packages/lib/src/components/Zoom.tsx
  packages/lib/src/utils/react.ts
  packages/website/.eslintrc
  packages/website/src/services/github.ts
  packages/website/src/utils/stargazers.ts
Due: eslint --fix, prettier --write

fix: fp-ts import
  packages/website/src/services/github.ts
Due: eslint --fix

chore: updated dependencies
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  packages/website/plugins/rehypeAutolinkHeadings.ts
  packages/website/plugins/rehypeExternalLinks.ts
  packages/website/src/layouts/DocLayout.astro
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: code refactor to improve robustness (#142)
  .eslintignore
  .eslintrc
  .gitignore
  .vscode/settings.json
  package.json
  packages/lib/package.json
  packages/lib/src/Reveal.tsx
  packages/lib/src/components/AttentionSeeker.tsx
  packages/lib/src/components/Bounce.tsx
  packages/lib/src/components/Fade.tsx
  packages/lib/src/components/Flip.tsx
  packages/lib/src/components/Hinge.tsx
  packages/lib/src/components/JackInTheBox.tsx
  packages/lib/src/components/Roll.tsx
  packages/lib/src/components/Rotate.tsx
  packages/lib/src/components/Slide.tsx
  packages/lib/src/components/Zoom.tsx
  packages/lib/src/utils/react.ts
  packages/playground/package.json
  packages/website/.eslintrc
  packages/website/package.json
  packages/website/plugins/rehypeAutolinkHeadings.ts
  packages/website/plugins/rehypeExternalLinks.ts
  packages/website/src/layouts/DocLayout.astro
  packages/website/src/services/github.ts
  packages/website/src/utils/stargazers.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(lib): emotion css prop is now ignored by eslint
  packages/lib/.eslintrc
Due: none

fix(lib): emotion css prop is now ignored by eslint (#143)
  packages/lib/.eslintrc
Due: none

chore(lib): replacede parcel with tsup
  packages/lib/package.json
  packages/lib/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(lib): replacede parcel with tsup (#144)
  packages/lib/package.json
  packages/lib/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(lib): bumped version to 4.1.0
  packages/lib/package.json
Due: prettier --write

chore(lib): removed .parcelrc
  packages/lib/.parcelrc
Due: none

Release/4.1.0 (#145)
  packages/lib/.parcelrc
  packages/lib/package.json
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

style(website): added bg-white class to html tag
  packages/website/src/layouts/BaseLayout.astro
Due: none

style(website): added bg-white class to html tag (#148)
  packages/website/src/layouts/BaseLayout.astro
Due: none

chore: update deps
  package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: use intl api to format stargazers count
  packages/website/src/components/StargazersCount.astro
  packages/website/src/utils/stargazers.ts
Due: eslint --fix

chore: update deps (#152)
  package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: use intl api to format stargazers count (#153)
  packages/website/src/components/StargazersCount.astro
  packages/website/src/utils/stargazers.ts
Due: eslint --fix

chore: update deps
  .vscode/settings.json
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  packages/website/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

chore: update deps (#155)
  .vscode/settings.json
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  packages/website/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,mdx,html}
