Repository awesome-reveal/react-awesome-reveal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,md,mdx,html}": "prettier --write"
}

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

docs: removed orphan demo menu link
  packages/lib/README.md
Due: prettier --write

feat(website): replaced next with astro
  packages/website/.eslintrc.json
  packages/website/.gitignore
  packages/website/.npmrc
  packages/website/README.md
  packages/website/astro.config.mjs
  packages/website/next.config.js
  packages/website/package.json
  packages/website/pages/index.tsx
  packages/website/public/favicon.ico
  packages/website/public/favicon.svg
  packages/website/src/env.d.ts
  packages/website/src/layouts/Layout.astro
  packages/website/src/pages/index.astro
  packages/website/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(website): added robots.txt
  packages/website/public/robots.txt
Due: none

fix(website): global styles
  packages/website/src/layouts/Layout.astro
Due: none

refactor(website): simplified index page styling
  packages/website/src/pages/index.astro
Due: none

style(website): fixed padding
  packages/website/src/pages/index.astro
Due: none

feat(website): added tailwind
  .eslintrc
  packages/website/.eslintrc
  packages/website/astro.config.mjs
  packages/website/package.json
  packages/website/src/layouts/Layout.astro
  packages/website/src/pages/index.astro
  packages/website/tailwind.config.cjs
  pnpm-lock.yaml
Due: prettier --write

style(website): added horizontal padding to homepage
  packages/website/src/pages/index.astro
Due: none

feat(website): implemented initial structure
  packages/website/.eslintrc
  packages/website/astro.config.mjs
  packages/website/package.json
  packages/website/src/components/DocSidenav.astro
  packages/website/src/components/Feature.astro
  packages/website/src/components/Features.astro
  packages/website/src/components/Navbar.astro
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/layouts/DocLayout.astro
  packages/website/src/layouts/ExamplesLayout.astro
  packages/website/src/pages/docs/getting-started.md
  packages/website/src/pages/docs/installation.md
  packages/website/src/pages/examples/basic.md
  packages/website/src/pages/index.astro
  packages/website/src/styles/docs.css
  packages/website/src/styles/hlinks.css
  packages/website/src/styles/index.css
  packages/website/tailwind.config.cjs
  pnpm-lock.yaml
Due: prettier --write

fix(website): fixed site url in astro config
  packages/website/astro.config.mjs
Due: none

feat(website): added sitemap generation
  .npmrc
  packages/website/.npmrc
  packages/website/astro.config.mjs
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(website): added bottom links in doc pages
  packages/website/package.json
  packages/website/src/components/DocBottomNavlinks.astro
  packages/website/src/components/DocSidenav.astro
  packages/website/src/layouts/DocLayout.astro
  packages/website/src/layouts/ExamplesLayout.astro
  packages/website/src/pages/docs/getting-started.md
  packages/website/src/pages/docs/installation.md
  pnpm-lock.yaml
Due: prettier --write

fix(website): fix fp-ts imports
  packages/website/src/components/DocBottomNavlinks.astro
  packages/website/src/components/DocSidenav.astro
Due: none

fix(website): fixed mobile issues
  packages/website/src/components/DocSidenav.astro
  packages/website/src/components/Navbar.astro
Due: none

fix(website): markdown layouts now uses the MarkdownLayoutProps interface
  packages/website/src/layouts/DocLayout.astro
  packages/website/src/layouts/ExamplesLayout.astro
Due: none

chore: unified .npmrc files
  .npmrc
  packages/website/.npmrc
Due: none

fix(lib): fixed infinite recursion when rendering texts
  packages/lib/src/Reveal.tsx
  packages/playground/src/App.tsx
Due: eslint --fix

chore(lib): bumped version to v4.0.1
  packages/lib/package.json
Due: prettier --write

docs: updated website content
  packages/website/astro.config.mjs
  packages/website/src/components/Features.astro
  packages/website/src/pages/docs/animated-components.md
  packages/website/src/pages/docs/attention-seekers.md
  packages/website/src/pages/docs/getting-started.md
  packages/website/src/pages/docs/installation.md
  packages/website/src/styles/docs.css
Due: prettier --write

chore(website): updated astro and added accessible emoji plugin
  packages/website/astro.config.mjs
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(website): title is now properly formatted
  packages/website/.eslintrc
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/layouts/ExamplesLayout.astro
  packages/website/src/utils/seo.ts
Due: eslint --fix

heavy website refactor
  packages/website/astro.config.mjs
  packages/website/astro.config.ts
  packages/website/package.json
  packages/website/plugins/rehypeAutolinkHeadings.ts
  packages/website/plugins/rehypeExternalLinks.ts
  packages/website/src/components/BlurredBackground.astro
  packages/website/src/components/Container.astro
  packages/website/src/components/DocBottomNavlinks.astro
  packages/website/src/components/DocSidenav.astro
  packages/website/src/components/Feature.astro
  packages/website/src/components/Navbar.astro
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/layouts/DocLayout.astro
  packages/website/src/layouts/ExamplesLayout.astro
  packages/website/src/pages/docs/animated-components.md
  packages/website/src/pages/docs/custom-animations.md
  packages/website/src/pages/docs/getting-started.md
  packages/website/src/pages/docs/performances.md
  packages/website/src/pages/docs/revealing-effects.md
  packages/website/src/pages/index.astro
  packages/website/src/styles/docs.css
  packages/website/src/styles/hlinks.css
  packages/website/src/styles/index.css
  packages/website/tailwind.config.cjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

changed website theme
  packages/website/src/components/BlurredBackground.astro
  packages/website/src/components/DocBottomNavlinks.astro
  packages/website/src/components/DocSidenav.astro
  packages/website/src/components/Navbar.astro
  packages/website/src/layouts/DocLayout.astro
  packages/website/src/pages/docs/getting-started.md
  packages/website/src/pages/docs/revealing-effects.md
  packages/website/src/pages/index.astro
Due: prettier --write

improved title in index page and fixed layout issue
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/layouts/DocLayout.astro
  packages/website/src/layouts/ExamplesLayout.astro
  packages/website/src/pages/index.astro
Due: none

layout improvements
  packages/website/src/components/BlurredBackground.astro
  packages/website/src/layouts/DocLayout.astro
Due: none

feature item text is now a span
  packages/website/src/components/Feature.astro
Due: none

fixed bottom pagination links color
  packages/website/src/components/DocBottomNavlinks.astro
Due: none

fix for sideav active links
  packages/website/src/components/DocSidenav.astro
Due: none

added stargazers count
  packages/website/src/components/Navbar.astro
  packages/website/src/components/StargazersCount.astro
Due: none

stargazers count is hidden on mobile
  packages/website/src/components/Navbar.astro
Due: none

added sitemap definition to robots.txt
  packages/website/public/robots.txt
Due: none

ui fixes
  packages/website/src/components/Features.astro
  packages/website/src/components/Navbar.astro
  packages/website/src/components/StargazersCount.astro
  packages/website/src/pages/index.astro
  packages/website/src/services/github.ts
  packages/website/src/types/github.ts
  packages/website/src/utils/stargazers.ts
Due: eslint --fix

improved seo
  packages/website/public/og-image.png
  packages/website/src/components/BaseHead.astro
  packages/website/src/layouts/BaseLayout.astro
Due: none

changed og image
  packages/website/public/og-image.png
Due: none

refactored stargazers count formatting logic
  packages/website/src/components/StargazersCount.astro
  packages/website/src/utils/stargazers.ts
Due: eslint --fix

removed stargazers count conditional rendering
  packages/website/src/components/Navbar.astro
Due: none

improved getting started doc
  packages/website/src/pages/docs/getting-started.md
Due: prettier --write

docs(lib): added pnpm to installation instructions
  packages/lib/README.md
Due: prettier --write
