Repository awesome-reveal/react-awesome-reveal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,md,mdx,html}": "prettier --write"
}

chore: bump version
  .changeset/five-clocks-bathe.md
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: prettier --write

Update deps (#204)
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/playground/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update deps
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update deps
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  packages/website/src/assets/houston.webp
  pnpm-lock.yaml
Due: prettier --write

feat: add release workflow
  .github/workflows/release.yml
  .npmrc
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add release workflow (#206)
  .github/workflows/release.yml
  .npmrc
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix release workflow
  .github/workflows/release.yml
Due: none

chore: fix release workflow (#207)
  .github/workflows/release.yml
Due: none

chore: fix publish script
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore: update deps
  .changeset/khaki-toes-accept.md
Due: prettier --write

chore: update deps (#208)
  .changeset/khaki-toes-accept.md
Due: prettier --write

chore: update github actions
  .github/workflows/release.yml
Due: none

chore: update github actions (#210)
  .github/workflows/release.yml
Due: none

chore: disable sourcemaps
  packages/lib/package.json
  packages/lib/src/vite-env.d.ts
  packages/lib/tsconfig.json
  packages/lib/tsconfig.node.json
  packages/lib/vite.config.ts
  packages/playground/src/vite-env.d.ts
  packages/playground/tsconfig.json
  packages/playground/tsconfig.node.json
  packages/playground/vite.config.ts
Due: eslint --fix, prettier --write

chore: add changeset
  .changeset/rich-pugs-think.md
Due: prettier --write

Disable source maps (#211)
  .changeset/rich-pugs-think.md
  packages/lib/package.json
  packages/lib/src/vite-env.d.ts
  packages/lib/tsconfig.json
  packages/lib/tsconfig.node.json
  packages/lib/vite.config.ts
  packages/playground/src/vite-env.d.ts
  packages/playground/tsconfig.json
  packages/playground/tsconfig.node.json
  packages/playground/vite.config.ts
Due: eslint --fix, prettier --write

chore: split release action into multiple jobs
  .github/workflows/release.yml
Due: none

chore: split release action into multiple jobs (#213)
  .github/workflows/release.yml
Due: none

revert: unify release action jobs
  .github/workflows/release.yml
Due: none

revert: unify release action jobs (#214)
  .github/workflows/release.yml
Due: none

chore: update deps
  package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add changeset
  .changeset/unlucky-ants-train.md
Due: prettier --write

Update deps (#215)
  .changeset/unlucky-ants-train.md
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update pnpm
  package.json
Due: prettier --write

chore: add changeset
  .changeset/lucky-berries-cheer.md
Due: prettier --write

Update dependencies (#217)
  .changeset/lucky-berries-cheer.md
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update deps
  .changeset/red-planes-hug.md
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update deps (#219)
  .changeset/red-planes-hug.md
  package.json
  packages/lib/package.json
  packages/playground/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump version
  .changeset/red-planes-hug.md
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: prettier --write

chore: update open collective handle for funding
  .github/FUNDING.yml
Due: none

chore: update repo refs
  packages/lib/README.md
  packages/lib/package.json
  packages/website/astro.config.mjs
Due: prettier --write

chore: add changesets
  .changeset/mean-houses-shave.md
Due: prettier --write

Update repository refs (#222)
  .changeset/mean-houses-shave.md
  packages/lib/README.md
  packages/lib/package.json
  packages/website/astro.config.mjs
Due: prettier --write

chore: update husky
  .github/workflows/release.yml
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(website): switch to netlify hosting
  packages/website/.gitignore
  packages/website/astro.config.mjs
  packages/website/package.json
  packages/website/vercel.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove website package
  packages/lib/package.json
  packages/playground/package.json
  packages/website/.gitignore
  packages/website/README.md
  packages/website/astro.config.mjs
  packages/website/package.json
  packages/website/public/favicon.svg
  packages/website/public/og-image.png
  packages/website/public/robots.txt
  packages/website/src/content/config.ts
  packages/website/src/content/docs/guides/attention-seekers.mdx
  packages/website/src/content/docs/guides/custom-animations.mdx
  packages/website/src/content/docs/guides/getting-started.mdx
  packages/website/src/content/docs/guides/older-browsers.mdx
  packages/website/src/content/docs/guides/performances.mdx
  packages/website/src/content/docs/guides/revealing-effects.mdx
  packages/website/src/content/docs/guides/typescript-support.mdx
  packages/website/src/content/docs/index.mdx
  packages/website/src/env.d.ts
  packages/website/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add use client directive
  packages/lib/src/Reveal.tsx
  packages/lib/src/components/AttentionSeeker.tsx
  packages/lib/src/components/Bounce.tsx
  packages/lib/src/components/Fade.tsx
  packages/lib/src/components/Flip.tsx
  packages/lib/src/components/Hinge.tsx
  packages/lib/src/components/JackInTheBox.tsx
  packages/lib/src/components/Roll.tsx
  packages/lib/src/components/Rotate.tsx
  packages/lib/src/components/Slide.tsx
  packages/lib/src/components/Zoom.tsx
Due: eslint --fix
